<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kapra Daily</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>

	<!-- MERGED URL TYPES -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- App Custom Scheme -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.buyerskart.customer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>buyerzkart</string>
			</array>
		</dict>

		<!-- OneSignal Scheme -->
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onesignal2818a3b482432468a3feb7a10e3fb837</string>
			</array>
		</dict>

		<!-- Facebook Login Scheme -->
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1763796204222338</string>
			</array>
		</dict>
	</array>

	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSAppTransportSecurity</key>
	<dict/>

	<key>NSContactsUsageDescription</key>
	<string>Your contacts access needed to activate "refer a friend" option.</string>

	<key>NSLocationUsageDescription</key>
	<string>Your location is used to locate delivery address by our delivery executives.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to locate delivery address by our delivery executives.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is used to locate delivery address by our delivery executives.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select and upload images.</string>

	<!-- Facebook -->
	<key>FacebookAppID</key>
	<string>1763796204222338</string>
	<key>FacebookDisplayName</key>
	<string>Kapra</string>

	<!-- Facebook Query Schemes -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>

	<key>UIAppFonts</key>
	<array>
		<string>Proxima Nova Alt Bold.otf</string>
		<string>Proxima Nova Alt Light.otf</string>
		<string>Proxima Nova Alt Regular.otf</string>
		<string>Proxima Nova Alt Semibold.otf</string>
		<string>Proxima Nova Alt Thin.otf</string>
		<string>FontAwesome5BrandsRegular.otf</string>
		<string>FontAwesome5FreeRegular.otf</string>
		<string>FontAwesome5Free-Solid.otf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Lexend-Black.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-ExtraBold.ttf</string>
		<string>Lexend-ExtraLight.ttf</string>
		<string>Lexend-Light.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>Lexend-Thin.ttf</string>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
